      <!-- Top nav bar (fixed) -->
      <nav id="nav-bar"> 
        <!-- give this containner some styling for background color -->
        <img id="logo" src="">
        <div id='title'><h1>Todizzle</h1></div>
        <div id=button-homepage>
          <button  id='logout-button' class="btn btn-primary">logout</button>
          <button  id='update-button' class="btn btn-primary">update</button>
        </div>
      </nav>

