<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/home_page.css"  type="text/css">

      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <% include partials/_header %>
    <div class='user-profile-container'>
      <h4 class="username">Logged in as <%= username %></h4>
      <div class='buttons-logout-update'>
        <form method="POST" action="/logout">
          <button  type="submit" id='logout-button' class="btn btn-dark btn md">Logout</button>
        </form>
        <form method="GET" action="/update">
          <button type="submit" id='update-button' class="btn btn-dark btn md">Update</button>
        </form>
      </div>
    </div>
    <div class="user-list">
      <h2><%= username %> 's List</h2>
      <form id='form' method="POST" action="/add-item">
        <input class="search-bar" type="text" name='thing' placeholder="What do YOU got to do?" style="width: 300px">&nbsp;&nbsp;
        <button id="add-item" class="btn btn-outline-dark btn md" type="submit">Add</button>
      </form>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
         <div class="card" style="width: 14rem;">
          <div>
            <img src="categoryImages/READ.jpg" class="card-img-top" alt="Snoop Dogg reads">
          </div>
            <div class="card-body">
              <h5 class="card-title text-center">To Read</h5>
            </div>
            <ul class="list-group list-group-flush">
              <div id="read" class="list-group-item">
                <input type="checkbox">
                <li>Example</li>
                <form method="POST" action="">
                  <button type='submit'>Change a category</button>
                </form>
              </div>
            </ul>
          </div>
        </div>

        <div class="col-sm">
         <div class="card" style="width: 14rem;">
            <img src="categoryImages/WATCH.jpg" class="card-img-top" alt="Snoop Dogg watches">
            <div class="card-body">
              <h5 class="card-title text-center">To Watch</h5>
            </div>
            <ul class="list-group list-group-flush">
              <div id="watch" class="list-group-item">
                <input type="checkbox">
                <li>Example</li>
                <form method="POST" action="">
                  <button type='submit'>Change a category</button>
                </form>
              </div>
            </ul>
          </div>
        </div>

        <div class="col-sm">
         <div class="card" style="width: 14rem;">
            <img src="categoryImages/EAT.jpg" class="card-img-top" alt="Snoop Dogg eats">
            <div class="card-body">
              <h5 class="card-title text-center">To Eat</h5>
            </div>
            <ul class="list-group list-group-flush">
              <div id="eat" class="list-group-item">
                <input type="checkbox">
                <li>Example</li>
                <form method="POST" action="">
                  <button type='submit'>Change a category</button>
                </form>
              </div>
            </ul>
          </div>
        </div>

        <div class="col-sm">
         <div class="card" style="width: 14rem;">
            <img src="categoryImages/PRODUCT.jpg" class="card-img-top" alt="Buy products with Snoop Dogg">
            <div class="card-body">
              <h5 class="card-title text-center">To Buy</h5>
            </div>
            <ul class="list-group list-group-flush">
              <div id="buy" class="list-group-item">
                <input type="checkbox">
                <li>Example</li>
                <form method="POST" action="">
                  <button type='submit'>Change a category</button>
                </form>
              </div>
            </ul>
          </div>
        </div>

        <div class="col-sm">
         <div class="card" style="width: 14rem;">
            <img src="categoryImages/OTHERS.jpg" class="card-img-top" alt="Snoop Dogg doesn't know the category">
            <div class="card-body">
              <h5 class="card-title text-center">Other</h5>
            </div>
            <ul class="list-group list-group-flush">
              <div id="other" class="list-group-item">
                <input type="checkbox">
                <li>Example</li>
                <form method="POST" action="">
                  <button type='submit'>Change a category</button>
                </form>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
