<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/home_page.css"  type="text/css">

      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <% include partials/_header %>
    <div class='user-profile-container'>
      <h4 class="username">Logged in as <%= username %></h4>
      <div class='buttons-logout-update'>
        <form method="POST" action="/logout">
          <button  type="submit" id='logout-button' class="btn btn-dark btn md">Logout</button>
        </form>
        <form method="GET" action="/update">
          <button type="submit" id='update-button' class="btn btn-dark btn md">Update</button>
        </form>
      </div>
    </div>
    <div class="user-list">
      <h2><%= username %> 's List</h2>
      <form id='form' method="POST" action="/add-item">
        <input class="search-bar" type="text" name='thing' placeholder="What do YOU got to do?" style="width: 300px">&nbsp;&nbsp;
        <button id="add-item" class="btn btn-outline-dark btn md" type="submit">Add</button>
      </form>
  </div>
  <div class="categories">
    <div class="read-container">
      <h3>To Read</h3>
      <ul>
      <li>
      Moby Dick
      </li>
      </ul>
      <div class="read"></div>
    </div>
    <div class="watch-container">
      <h3>To Watch</h3>
      <div class="watch"></div>
    </div>
    <div class="eat-container">
      <h3>To Eat</h3>
      <div class="eat"></div>
    </div>
    <div class="buy-container">
      <h3>To Buy</h3>
      <div class="buy"></div>
    </div>
    <div class="other-container">
      <h3>Other</h3>
      <div class="other"></div>
    </div>
  </div>
  </body>
</html>
