<!doctype html>
    <html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="./styles/login_page.css">
    </head>

    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span><span id="login-title">Login </span></h1>
                <% if(locals.error){ %>
                <p style='color:red'>
                    <%= locals.error%>
                </p>
                <% } %>
                <hr>
                <form action="/login" method="post">
                    <div class="form-group"><label id="username">Username</label><input type="text" class="form-control"
                            name="username"></div>
                    <div class="form-group"><label id="password">Password</label><input type="password"
                            class="form-control" name="password"></div>
                    <p id="need-one">Need an account? <a id="signup" href="/register">Signup</a></p><button id="login"
                        type="submit" class="btn btn-dark btn-lg">Login</button>
                </form>
                <hr>
            </div>
        </div>
    </body>