<!doctype html>
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Diplomata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fredericka the Great' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
    <link rel='stylesheet' href='./styles/registration_page.css'>
</head>

<body>
<%include partials/_header%>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <h1 id="signup"><span class="fa fa-sign-in"></span> Sign Up</h1>
           <hr>
            <form action="/register" method="post">
                <div class="form-group">
                    <label id="email"> Enter your email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label id="password"> Choose a new password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <p id="have-one"> Have an account? <a id="signin" href="/login">Sign in</a></p>
                <button id="register" type="submit" class="btn btn-dark btn-lg">Register</button>
            </form>

            <hr>

        </div>
    </div>
</body>