<!DOCTYPE html>
 <html lang='eng'>
     <head>
         <meta charset='utf-8'>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="stylesheet" href="/styles/update-page.scss">
     </head>
      <header>
            <nav id="nav-bar">
                    <h1 class="header">ToDizzle</h1>
                     <div class='buttons-logout-update'>
        <form method="POST" action="/logout">
          <button  type="submit" id='logout-button' class="btn btn-primary">logout</button>
        </form>
        <form method="POST" action="/">
          <button type="submit" id='home-button' class="btn btn-primary">Go ~/</button>
        </form>
      </div>
                  </nav>
      </header>
      <body>
          <div class = "avatar-container">
              <img class="user-avatar"></img>
              </div>
                <form method="POST" action=""><input id="update-username" type="text"
                  placeholder="Update Username"  name="username-update"><button id="update" class="btn-outline-dark btn-md">Update</button></input> </form>
                  <form method="POST" action=""><input id="update-password" type="text"
                    placeholder="Update Password"  name="password-update"><button id="update" class="btn-outline-dark btn-md">Update</button></input> </form>
      </body>
 </html>