.user-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12em;
}

.user-list {
  text-align: center;

}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
