$button-box-shadow:-11px 12px 20px 0px rgba(0, 0, 0, 0.2);
.user-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12em;
}

.user-list {
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logout-button {
  margin-right: 2em;
  margin-bottom: 1em;
  box-shadow: $button-box-shadow
}

#update-button{
  box-shadow: $button-box-shadow
}
.search-bar {
  margin-top: 1em;
  margin-bottom: 2em;
}